<header class="site-header">
    <div class="header-content">
        <div class="logo">
            <h1>CSE Motors</h1>
        </div>
        <div class="account-link">
            <a href="#">MY ACCOUNT</a>
        </div>
    </div>
</header>
